body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat-Black', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Heading*/

.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

.container-fluid {
  padding: 3% 15%;
}



.row-1{
  text-align: left;
}

/* Navigation Bar*/
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light"
}

/*Download Button*/
.download-button {
  margin: 5% 3% 10% 0;

}

/* Title Image*/
.title-image {
  /*padding-left: 16px;*/
  margin: auto auto -12rem 0;
  width: 60%;
  transform: rotate(25deg);
}

/*Features*/
.features-row {
  padding: 5% 15%;
  background-color: #fff;
  position: relative;
}

.features-column {
  text-align: center;
  padding: 5%;
}

.features-icon {
  color: #ef8172;
  font-size: 3.5rem;
  padding: 0 0 5%;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.1rem;
}

.features-p {
  color: #8f8f8f;
}

/*Testimonials section*/

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text{
  font-size: 3rem;
  font-weight: bold;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.price-text{
  font-size: 3rem;
  font-weight: bold;
}

.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


/* cta Footer*/
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
  text-align: center;
}

#footer {
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.footer-icon {
  margin: 20px;
}
